.main_bg{
    background-color: black;
    height: 100%;
    padding: 15px 20px;
    margin-top: -10px;
}
.main_cont{
    color: white;
    height: calc(100vh - 120px);
    background-color: rgb(31, 36, 36);

    border-radius: 20px;
    padding: 20px 10px;
}

