@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.intro {
  margin: 5vh;
  // height: clamp(400px, 70vh, 1000px);
  width: clamp(250px, 70vw, 2000px);
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 30px,
    rgba(0, 0, 0, 0.1) -10px -10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 4px;

  img {
    margin: 3vh 0;
    width: 70%;
    max-width: 300px;
  }

  #pfp {
    border-radius: 100%;
  }
  .intro__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-size: 4rem;
      color: rgb(24, 41, 71);

      @media only screen and (max-width: 1000px) {
        font-size: 2rem;
      }
    }
    .aka {
      margin: 10px 0px;
      display: flex;
      align-items: flex-start;
      font-size: 1.4rem;
      @media only screen and (max-width: 1000px) {
        font-size: 1rem;
      }
    }
    .nickname {
      font-size: 3rem;
      color: rgb(91, 184, 228);
      @media only screen and (max-width: 1000px) {
        font-size: 1.7rem;
      }
    }
    .info {
      margin: 20px;
      display: grid;
      place-items: center;
      font-size: 1.5rem;
      @media only screen and (max-width: 1000px) {
        font-size: 1rem;
      }
    }
  }
}
